# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.DS_Store
*.idea
.dccache
dist/
poke-cli
*.rpm
*.apk
*.deb

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
codecov*

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Python
card_data/.venv
__pycache__/

# Terraform
.terraformrc
terraform.rc
**/*.tfvars
**/*.tfvars.json
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log

# dbt
card_data/logs/
dbt_packages/
logs/

target/
dbt_packages/

card_data/infrastructure/supabase/access-token
/card_data/infrastructure/supabase/access-token
**/.terraform/

card_data/.tmp*/**


card_data/pipelines/poke_cli_dbt/.user.yml
/card_data/supabase/

card_data/~/
