name: Codspeed Benchmarks
on:
  pull_request:
    types: [ opened, reopened, synchronize ]
    paths:
      - 'card_data/**'

permissions:
  contents: read
  id-token: write

jobs:
  benchmarks:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: card_data

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'

      - name: Install uv
        uses: astral-sh/setup-uv@v4

      - name: Install dependencies
        run: uv sync --dev

      - name: Run the benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          working-directory: card_data
          mode: simulation
          run: uv run pytest pipelines/tests/ -v --codspeed