name: Lint

on:
  pull_request:
    types: [opened, reopened]

permissions:
  contents: read
  pull-requests: read

jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21

      - name: Lint
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56
          skip-cache: true