name: Python Tests

on:
  pull_request:
    types: [opened, reopened, synchronize]
    paths:
      - 'card_data/**'

jobs:
  tests:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: card_data
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install uv
        uses: astral-sh/setup-uv@v7

      - name: Install Dependencies
        run: uv sync

      - name: Test and Run Benchmarks
        uses: CodSpeedHQ/action@v4
        with:
          mode: simulation
          working-directory: card_data
          run: uv run pytest pipelines/tests/ -v --codspeed